body {
    margin: 0;
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #242424;
    color: #dadada;
    transition: 0.5s;
}
.header {
    display: grid;
    grid-template-columns: auto auto 32px;
    padding-top: 24px;
    margin: 0px 108px;
}
.nav {
    display: flex;
    float: right;
    padding: 0px 24px;
}
.nav a {
    padding: 8px 24px;
}
.nav a:hover {
    position: relative;
    animation: moveUpAndDown 1s;
}
@keyframes moveUpAndDown {
    0% {top: 0px;}
    66% {top: -4px;}
    100% {top: 0px;}
}
.grid-item a {
    color: #dadada;
    text-decoration: none;
}
.grid-item .site {
    display: flex;
    flex-direction: row;
}
.grid-item .theme {
    cursor: pointer;
}
.site p {
    margin: 0;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 14px;
}
.site a {
    display: flex;
}
.main-container {
    display: grid;
    padding: 96px 108px;
    grid-template-columns: 70% 30%;
}
.main-container .about-details {
    text-align: right;
    padding-right: 16px;
    padding-top: 112px;
}
.about-details .about-heading {
    font-size: 5em;
    font-weight: 800;
    padding-bottom: 8px;
}
.main-container .about-pic {
    padding: 0px 32px;
}

.foot-grid-container {
    background-color: #dadada;
    color: #242424;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 48px 0px;
    font-size: 0.8em;
    text-align: center;
}
.foot-grid-content a {
    text-decoration: none;
    color: #242424;
    text-decoration: underline;
}