body {
    margin: 0;
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #242424;
    color: #dadada;
    /* transition: 0.5s; */
}
.header {
    display: grid;
    grid-template-columns: auto auto 32px;
    padding-top: 24px;
    margin: 0px 108px;
}
.nav {
    display: flex;
    float: right;
    padding: 0px 24px;
}
.nav a {
    padding: 8px 24px;
}
.nav a:hover {
    position: relative;
    animation: moveUpAndDown 1s;
}
@keyframes moveUpAndDown {
    0% {top: 0px;}
    66% {top: -4px;}
    100% {top: 0px;}
}
.grid-item a {
    color: #dadada;
    text-decoration: none;
}
.grid-item .site {
    display: flex;
    flex-direction: row;
}
.grid-item .theme {
    cursor: pointer;
}
.site p {
    margin: 0;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 14px;
}
.site a {
    display: flex;
}
.main-container {
    padding: 32px 108px 64px 108px;
}
.main-container .feature-header {
    margin: 0;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
}
.main-container .feature-grid-container {
    margin: 0;
}
.feature {
    margin: 48px 0;
}
.feature-grid-left {
    display: grid;
    grid-template-columns: 50% 50%;
}
.feature-grid-left .feature-text {
    margin-left: 32px;
}
.feature-grid-right {
    display: grid;
    grid-template-columns: 50% 50%;
}
.feature-grid-right .feature-text {
    margin-right: 32px;
}
.feature-text {
    margin: auto 0;
}
.feature-text p {
    margin: 0;
}
.feature-text .feature-text-header {
    font-size: 2em;
    font-weight: 700;
}
.feature-text .feature-text-content {
    margin-top: 16px;
}


.foot-grid-container {
    background-color: #dadada;
    color: #242424;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 48px 0px;
    font-size: 0.8em;
    text-align: center;
}
.foot-grid-content a {
    text-decoration: none;
    color: #242424;
    text-decoration: underline;
}