body {
    margin: 0;
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #242424;
    color: #dadada;
    /* transition: 0.5s; */
}

.main {
    color: #dadada;
    background-image: url("../img/landingPagePic.jpg");
    padding: 24px 108px;
}
.index-grid {
    display: grid;
    grid-template-columns: 224px auto;
}
.nav {
    padding: 8px 24px;
    float: right;
}
.nav a {
    color: #dadada;
    text-decoration: none;
    padding: 8px 24px;
}
.nav a:hover {
    background-color: #8e8e8e;
    border-radius: 8px;
}
.site {
    display: flex;
    flex-direction: row;
}
.main p {
    margin: 0;
}
.main .sitename {
    padding-bottom: 192px;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 14px;
}
.main .large-text {
    padding-bottom: 24px;
    font-weight: 900;
    font-size: 5em;
}
.main .desc {
    padding-bottom: 48px;
}
.links {
    padding-bottom: 240px;
}
.links a{
    text-decoration: none;
    border: 3px solid #dadada;
    border-radius: 12px;
    padding: 16px 32px;
    color: #dadada;
}
.links .signup {
    background-color: #dadada;
    color: #242424;
    font-weight: 700;
}
.links .signup:hover {
    background-color: #242424;
    color: #dadada;
}
.links .login {
    margin-left: 16px;
    padding: 16px 40px;
    font-weight: 700;
}
.links .login:hover {
    background-color: #dadada;
    color: #242424;
}
.grid-container {
    margin: 64px 72px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.grid-item {
    padding: 24px 36px;
    text-align: center;
}
.grid-item-heading {
    font-weight: 700;
    padding-bottom: 16px;
}
.grid-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 80px;
    padding-bottom: 24px;
}
.grid-item .theme {
    cursor: pointer;
}
.foot-grid-container {
    background-color: #dadada;
    color: #242424;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 48px 0px;
    font-size: 0.8em;
    text-align: center;
}
.foot-grid-content a {
    text-decoration: underline;
    color: #242424;
}
