body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dadada;
    color: #242424;
}

.main {
    color: #dadada;
    background-image: url("../img/landingPagePic.jpg");
    padding: 24px 108px;
}
.main .site {
    display: flex;
    flex-direction: row;
}
.main p {
    margin: 0;
}
.main .sitename {
    padding-bottom: 192px;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 14px;
}
.main .large-text {
    padding-bottom: 24px;
    font-weight: 900;
    font-size: 5em;
}
.main .desc {
    padding-bottom: 48px;
}
.links {
    padding-bottom: 240px;
}
.links a{
    text-decoration: none;
    border: 3px solid #dadada;
    border-radius: 12px;
    padding: 16px 32px;
    color: #dadada;
}
.links .signup {
    background-color: #dadada;
    color: #242424;
    font-weight: 700;
}
.links .signup:hover {
    background-color: #242424;
    color: #dadada;
}
.links .login {
    margin-left: 16px;
    padding: 16px 40px;
    font-weight: 700;
}
.links .login:hover {
    background-color: #dadada;
    color: #242424;
}
.grid-container {
    margin: 64px 72px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.grid-item {
    padding: 24px 36px;
    text-align: center;
}
.grid-item-heading {
    font-weight: 700;
    padding-bottom: 16px;
}
.grid-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 80px;
    padding-bottom: 24px;
    
}
.foot-grid-container {
    background-color: #242424;
    color: #dadada;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 80px 432px;
    font-size: 0.8em;
    text-align: center;
}
.foot-grid-content a {
    text-decoration: none;
    color: #dadada;
}
.foot-grid-content a:hover {
    background-color: #dadada;
    color: #242424;
}