body {
    margin: 0;
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #242424;
    color: #dadada;
}
.header {
    display: grid;
    grid-template-columns: auto auto 32px;
    padding-top: 24px;
    margin: 0px 108px;
}
.nav {
    display: flex;
    float: right;
    padding: 0px 24px;
}
.nav a {
    padding: 8px 24px;
}
.nav a:hover {
    position: relative;
    animation: moveUpAndDown 1s;
}
@keyframes moveUpAndDown {
    0% {top: 0px;}
    66% {top: -8px;}
    100% {top: 0px;}
}
.grid-item a {
    color: #dadada;
    text-decoration: none;
}
.grid-item .site {
    display: flex;
    flex-direction: row;
}
.grid-item .theme {
    cursor: pointer;
}
.site p {
    margin: 0;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 14px;
}
.site a {
    display: flex;
}

.signup-head p {
    margin: 0;
    margin-top: 144px;
    padding-bottom: 2px;
    text-align: right;
    font-size: 5em;
    font-weight: 700;
}

.main-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.form-container {
    border: 1px solid #353535; 
    background-color: #1f1f1f;
    /* border: 1px solid #bdbdbd;
    background-color: #ebebeb; */
    border-radius: 8px;
    padding: 16px 16px;
    margin: 48px 0px;
    margin-left: 64px;
    margin-right: 320px;
}

form input {
    width: 90%;
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #242424;
    border: 1px solid #353535;
    color: #dadada;
    /* background-color: #dadada;
    border: 1px solid #bdbdbd; */
    border-radius: 4px;
    font-size: 14px;
}
form label {
    font-size: 14px;
}
form button {
    background-color: #04AA6D;
    color: #dadada;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #04AA6D;
}
.to-login {
    border: 1px solid #353535;
    /* border: 1px solid #bdbdbd; */
    border-radius: 8px;
    padding: 16px 16px;
    margin: 28px 0px;
    text-align: center;
    margin-left: 336px;
}
.to-login p {
    margin: 14px 0px;
}
.to-login a {
    text-decoration: underline;
    color: #2636ea;
}

.foot-grid-container {
    background-color: #dadada;
    color: #242424;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 48px 0px;
    font-size: 0.8em;
    text-align: center;
}
.foot-grid-content a {
    text-decoration: none;
    color: #242424;
    text-decoration: underline;
}